In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                    .appName('Capstone') \
                    .enableHiveSupport().getOrCreate()

In [2]:
spark

In [7]:
df_Course_Completion= spark.sql("Select * from ArindamDB.course_completion")
df_Course_Completion.show()

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0001|   C0001|17 Feb 19|      Attended|   70|    Qualified|
|     S0298|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0296|   C0030|20 Feb 19|      Attended|   70|    Qualified|
|     S0291|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0286|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0285|   C0012|28 Feb 19|      Attended|   70|    Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0281|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0279|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0278|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0276|   C0003|19 Feb 19|      Attended|   70|    Qualified|
|     S0275|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0274|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [8]:
df_Course_Completion.printSchema()

root
 |-- studentsid: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- examdate: string (nullable = true)
 |-- attendedstatus: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- result: string (nullable = true)

In [9]:
df_Course_details= spark.sql("Select * from ArindamDB.course_details")
df_Course_details.show()

+--------------------+--------+--------------------+----------+----------+
|               title|courseid|          competency|complexity|coursetype|
+--------------------+--------+--------------------+----------+----------+
|               Cloud|   C0004|BE (Hons) in CSE ...|    Domain|  Advanced|
|               Cloud|   C0005|BTech in Computer...|    Domain|  Advanced|
|               Cloud|   C0006|BTech in Computer...|    Domain|  Advanced|
|               Cloud|   C0007|BCA with Microsof...|  Security|  Advanced|
|               Cloud|   C0008|BTech in Informat...| Technical|  Advanced|
|               Cloud|   C0009|MCA with speciali...| Technical|  Advanced|
|Hardware and Netw...|   C0013|B.Sc in Hardware ...|    Domain|  Advanced|
|Hardware and Netw...|   C0017|M.Tech in Network...|    Domain|  Advanced|
|Hardware and Netw...|   C0018|M.Sc in Hardware ...|    Domain|  Advanced|
|Hardware and Netw...|   C0019|MSc in Wireless N...|    Domain|  Advanced|
|Hardware and Netw...|   C0020|Diploma in Comput...|    Domain|  Advanced|
|Hardware and Netw...|   C0021|Diploma of Networ...|    Domain|  Advanced|
|Hardware and Netw...|   C0022|Diploma in Comput...|    Domain|  Advanced|
|Hardware and Netw...|   C0023|Diploma in IT and...| Technical|  Advanced|
|     Web Development|   C0025|Graduate Certific...|    Domain|  Advanced|
|     Web Development|   C0029|Diploma in Contem...| Technical|  Advanced|
|               Cloud|   C0001|Certificate in Cl...| Technical|     Basic|
|               Cloud|   C0002|Certificate in Vi...| Technical|     Basic|
|               Cloud|   C0010|ME in Cloud Compu...| Technical|     Basic|
|               Cloud|   C0011|MTech Computer Sc...| Technical|     Basic|
+--------------------+--------+--------------------+----------+----------+
only showing top 20 rows

In [10]:
df_Course_details.printSchema()

root
 |-- title: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- competency: string (nullable = true)
 |-- complexity: string (nullable = true)
 |-- coursetype: string (nullable = true)

In [13]:
df_Course_Completion.groupBy("result").count().alias("Student_Count")

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [12]:
df_Course_Completion.filter(df_Course_Completion.attendedstatus == "Absent")

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0279|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0278|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0275|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0274|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0273|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0272|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0269|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0268|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0265|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0264|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0263|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0260|   C0002|18 Feb 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import max,min,avg,col

In [20]:
df_Course_Completion.groupBy("studentsid").agg(max(col("marks")).alias("MaxMarks"),min(col("marks")).alias("MinMarks"),avg(col("marks")).alias("AvgMarks"))

+----------+--------+--------+--------+
|studentsid|MaxMarks|MinMarks|AvgMarks|
+----------+--------+--------+--------+
|     S0010|       0|       0|     0.0|
|     S0049|      77|      77|    77.0|
|     S0281|      70|      70|    70.0|
|     S0242|       0|       0|     0.0|
|     S0120|      70|      70|    70.0|
|     S0030|      70|      70|    70.0|
|     S0161|      70|      70|    70.0|
|     S0128|      91|      91|    91.0|
|     S0111|       0|       0|     0.0|
|     S0086|       0|       0|     0.0|
|     S0169|      91|      91|    91.0|
|     S0292|      86|      86|    86.0|
|     S0069|      86|      86|    86.0|
|     S0139|       0|       0|     0.0|
|     S0202|       0|       0|     0.0|
|     S0154|      85|      85|    85.0|
|     S0142|      70|      70|    70.0|
|     S0112|       0|       0|     0.0|
|     S0289|       0|       0|     0.0|
|     S0272|       0|       0|     0.0|
+----------+--------+--------+--------+
only showing top 20 rows